<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ThemeWithoutActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ViewIdeeActivity"
            android:exported="false" />
        <activity
            android:name=".AddIdeeActivity"
            android:exported="false" />
        <activity
            android:name=".ViewIdeiActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAltProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAltiUtilizatoriActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ViewProfilPropriuActivity"
            android:exported="false" />
        <activity
            android:name=".ViewProblemaActivity"
            android:exported="false" />
        <activity
            android:name=".AddProblemActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false"
            android:theme="@style/ThemeWithActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>